#container {
    display: flex;
    flex-flow: column;
}

#content{
    display: flex;
    flex-flow: column;
}

#history{
    display: flex;
    flex-flow: row;
}

#Alan{
    display: flex;
    flex-flow: row;
}

#Ada{
    display: flex;
    flex-flow: row;
}

#Tim{
    display: flex;
    flex-flow: row;
}

#WWW {
    display: flex;
    flex-flow: row;
}

img{
    width:200px;
    height:200px
}

#navbar {
    text-align: center;
    font-size: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
}

#nav li{
    display: inline;
    margin: 10px;
}