#container {
    display: flex;
    flex-flow: column;
    padding-left: 20px;
    padding-right: 210px;
}

#content{
    display: flex;
    flex-flow: column;
}

#history{
    display: flex;
    flex-flow: row;
}

#Alan{
    display: flex;
    flex-flow: row;
}

#Ada{
    display: flex;
    flex-flow: row;
}

#Tim{
    display: flex;
    flex-flow: row;
}

#WWW {
    display: flex;
    flex-flow: row;
}

#content  img{
    width:200px;
    height:200px
}

#navbar {
    text-align: center;
    font-size: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
}

#nav li{
    display: inline;
    margin: 10px;
}
#image {
    width: 200px;
    height: 200px;
    position: fixed;
    right: 0;
    top: 0;
    padding: 10px;
}