table{
    color:cornflowerblue;
    border-collapse: separate;
    border-spacing: 5px;
    width: 100%;
}
th{
    text-align: center;
    font-size: 30px;
}
td{
    text-align: center;
}

body{
    background-color: #292929;
    font-size: 20px;
}

h1{
    color:cornflowerblue;
    font-size: 45px;
}

p{
    color:cornflowerblue;
    font-size: 20px;
}

ul{
    color:cornflowerblue;
    font-size: 20px;
}

h3,h4{
    color:cornflowerblue;
    font-size: 25px;
}

ol{
    color:cornflowerblue;
    font-size: 15px;
}
a:link {
    color: hotpink;
}

a:visited {
    color: lightgreen;
}

/* mouse over link */
a:hover {
    color: lightgreen;
}

/* selected link */
a:active {
    color: palevioletred;
}
form {
    color: cornflowerblue;
    font-size: 20px
}