body{
    background-color: #4F5659;
    color: whitesmoke;
    font-family: Arial, Verdana, Tahoma, sans-serif;
}

#container{
    padding: 10px;
}

#container label,input{
    padding: 5px;
}

a:link {
    color: hotpink;
}

/*visited link*/
a:visited {
    color: lightgreen;
}

/* mouse over link */
a:hover {
    color: lightpink;
}

/* selected link */
a:active {
    color: palevioletred;
}

table{
    padding:5px;
}

table tr{
    padding:5px;
}