/*Style sheet for website styling for admin only general/user is separate*/

body {
    background: lightseagreen;
    font-family: Arial, Calibri, sans-serif ;
}

#container {
    align-content: center;
}

ul#menu li{
    display: inline;
}