body{
    background-color: #4F5659;
    color: whitesmoke;
    font-family: Arial, Verdana, Tahoma, sans-serif;
}

#container{
    padding: 10px;
}

#Rules p{
    padding-top: 10px;
}

#content form{
    padding: 5px;
}