img{
    width: 150px;
    height: 150px;
    position: fixed;
    right: 0;
    top: 0;
    padding: 10px;
}

#navbar {
    background-color: #1560BD;
    text-align: center;
    font-size: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
}

#container {
    display: flex;
    flex-flow: column;
    background-color: #0f52ba;
    padding-left: 150px;
    padding-right: 150px;
}

#nav li{
    display: inline;
    margin: 10px;
}

#history{
    background-color: #0047ab;
    color: whitesmoke;
}

a:link {
    color: pink;
}


a:visited {
    color: lightgreen;
}


/* mouse over link */
a:hover {
    color: lightgreen;
}


/* selected link */
a:active {
    color: palevioletred;
}

table{
    color: turquoise;
    border-collapse: collapse;
    border-spacing: 5px;
    width: 100%;
    border: solid grey;
}

td{
    text-align: center;
    border: solid grey;;
}

#Titlebar{
    background-color: dodgerblue;
}

#Rides{
    color: #ee6b6e;
}