body {
    background-color: darkslategray;
}

#container {
    display: flex;
    flex-flow: column;
}

#titlebar {
    background-color: darkgray;
    width:100%;
    text-align:right;
}

#navbar {
    background-color: dimgray;
}

#nav li{
    display:inline;
    margin: 10px;
}
